body,
html {
    overflow: hidden;
    height: 100%;
    color: #777;
}
h1,
h2,
strong {
    font-weight: 400;
}
html,
body,
.wrapper {
    height: 100%;
    position: relative;
}
body,
h1,
h2,
p {
    margin: 0;
}
footer,
h2,
ul.skills,
ul.skills li {
    position: absolute;
    opacity: 0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
.touch body {
    -webkit-text-size-adjust: none;
}
:focus {
    -moz-outline-style: none;
    outline: 0
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -.01em;
}
h2,
strong,
ul.skills {
    font-family: "Roboto Slab", serif
}
a {
    outline: 0;
    text-decoration: none;
    border-bottom: 1px solid #777;
    color: #777;
    -webkit-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
    -moz-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
    -ms-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
    -o-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
    transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
a:hover{
    color: #e3a7b6;
    border-color: #e3a7b6;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
a.logo {
    position: relative;
    padding-left: 32px;
}
a img {
    border: 0;
    position: absolute;
    bottom: -4px;
    left: 0;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 22px;
    line-height: 35px;
    opacity: 0;
    -webkit-animation: fadeIn 2s ease-out 1 .1s;
    -ms-animation: fadeIn 2s ease-out 1 .1s;
    animation: fadeIn 2s ease-out 1 .1s;
    animation-fill-mode: forwards
}
h1 a {
    border-color: #ccc;
}
h1 small {
    font-size: 70%;
}
h2 {
    font-size: 30px;
    line-height: 50px;
    max-width: 1000px;
    top: 60%;
    left: 120px;
    -webkit-animation: fadeIn 2s ease-out 1 1.3s;
    -ms-animation: fadeIn 2s ease-out 1 1.3s;
    animation: fadeIn 2s ease-out 1 1.3s;
    animation-fill-mode: forwards;
}
.wrapper{
    padding: 80px 80px 0 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.skills {
    width: 100%;
    font-size: calc(80vw / 6);
    line-height: 180px;
    color: #74f7e7;
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -.04em;
    left: -1.5rem;
    top: 25%;
    white-space: nowrap;
    -webkit-animation: fadeIn 2s ease-out 1 .6s;
    -ms-animation: fadeIn 2s ease-out 1 .6s;
    animation: fadeIn 2s ease-out 1 .6s;
    animation-fill-mode: forwards;
    pointer-events: none
}
ul.skills.inline {
    font-size: 16px;
    line-height: 28px;
    position: static;
    float: left;
    color: #67dbcc;
    display: block;
}
ul.skills li {
    width: 100%;
    -webkit-animation: rotateWord 20s cubic-bezier(1,0,0,1) infinite 0s;
    -ms-animation: rotateWord 20s cubic-bezier(1,0,0,1) infinite 0s;
    animation: rotateWord 20s cubic-bezier(1,0,0,1) infinite 0s;
}
ul.skills li:nth-child(2) {
    -webkit-animation-delay: 5s;
    -ms-animation-delay: 5s;
    animation-delay: 5s;
    color: #ffbccc;
}
ul.skills.inline li:nth-child(2) {
    color: #e3a7b6;
}
ul.skills li:nth-child(3) {
    -webkit-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    color: #ffc39e;
}
ul.skills.inline li:nth-child(3) {
    color: #ebb391;
}
ul.skills li:nth-child(4) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #77b1ff;
}
ul.skills.inline li:nth-child(4) {
    color: #71a8f2;
}
footer {
    bottom: 3rem;
    left: 120px;
    -webkit-animation: fadeIn 1s ease-out 1 1.6s;
    -ms-animation: fadeIn 1s ease-out 1 1.6s;
    animation: fadeIn 1s ease-out 1 1.6s;
    animation-fill-mode: forwards;
}
footer p {
    float: left;
}
::-moz-selection {
    background: rgba(0,0,0,.1) !important;
}
::selection {
    background: rgba(0,0,0,.1);
}
li::selection,
ul::selection {
    background: rgba(0,0,0,0);
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
@-webkit-keyframes rotateWord {
    0%, 100%, 80% {
        opacity: 0;
    }
    4% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    27%, 7% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    32% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
}
@-ms-keyframes rotateWord {
    0%, 100%, 32%, 4%, 80% {
        opacity: 0;
    }
    4% {
        -ms-transform: translateY(-30px);
    }
    27%, 7% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
    32% {
        -ms-transform: translateY(30px);
    }
}
@keyframes rotateWord {
    0%, 100%, 80% {
        opacity: 0;
    }
    4% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    27%, 7% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    32% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ie * {
    opacity: 1 !important;
}
.ie .skills {
    display: none !important;
}
@media screen and (max-width: 1200px) {
    ul.skills {
        top: 8.5rem;
        left: -15px;
    }
    ul.skills.inline {
        left: 16.8rem;
    }
    h2 {
        font-size: 25px;
        line-height: 40px;
    }
}
@media screen and (max-width:1023px) {
    .wrapper {
        padding: 80px 80px 0;
    }
    footer, h2 {
        left: 80px;
    }
    ul.skills {
        top: 8.5rem;
        left: -0.8rem;
    }
    ul.skills.inline {
        left: 16.8rem;
    }
}
@media screen and (max-width:767px) {
    .wrapper {
        padding: 40px 20px;
    }
    .hide {
        display: none;
    }
    h1 small {
        display: block;
        line-height: 25px;
    }
    ul.skills {
        font-size: calc(80vw / 6);
        left: -5px;
        line-height: 100px;
        height: 100px;
        top: 18%;
    }
    ul.skills.inline {
        display: block;
        position: static;
    }
    h2 {
        font-size: 18px;
        line-height: 34px;
        left: 20px;
        bottom: auto;
        top: 35%;
    }
    footer {
        left: 20px;
    }
}
